@import "tailwindcss";
@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 4s linear forwards;
}

@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Doto;
  src: url("../src/assets/fonts/Doto-Regular.ttf") format("truetype");
}
:root {
  --font-Raleway: Raleway, sans-serif;
  --font-doto: Doto, sans-serif;
}
